# Práctica de la librería Numpy

En este notebook, se desarrollarán una serie de tareas utilizando la librería Numpy (Numerical Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero las mismas no son únicas.

Siempre es una buena idea verificar la [Documentación Oficial de Numpy](https://numpy.org/devdocs/user/index.html), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Numpy". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [2]:
# Importamos Numpy con su abreviación "np"
import numpy as np

In [8]:
# Podemos crear arrays de una dimensión con la función np.array()
array_unidim = np.array([1, 2, 3, 4, 5])
# O un array de dos dimensiones (bidimensional)
array_bidim = np.array([[1, 2, 3], ["a", "b" , "c"]])
# O un array de tres dimensiones (tridimensional)
array_tridim = np.array([
    [[1, 2, 3], [4, 5, 6]],
    [[7, 8, 9], [10, 11, 12]]
])

Para cada uno de estos arrays, podemos obtener sus propiedades, tales como su "forma", número de dimensiones, tipos de datos y tamaño.

In [9]:
# Atributos del array unidimensional (forma, número de dimensiones, tipos de datos, tamaño, y tipo)
array_unidim.shape, array_unidim.ndim, array_unidim.dtype, array_unidim.size, type(array_unidim)

((5,), 1, dtype('int32'), 5, numpy.ndarray)

In [10]:
# Atributos del array bidimensional
array_bidim.shape, array_bidim.ndim, array_bidim.dtype, array_bidim.size, type(array_bidim)

((2, 3), 2, dtype('<U11'), 6, numpy.ndarray)

In [11]:
# Atributos del array tridimensional
array_tridim.shape, array_tridim.ndim, array_tridim.dtype, array_tridim.size, type(array_tridim)

((2, 2, 3), 3, dtype('int32'), 12, numpy.ndarray)

In [13]:
# Importamos pandas como pd, y creamos un DataFrame a partir del array bidimensional
import pandas as pd
datos = pd.DataFrame(array_bidim)
datos

   0  1  2
0  1  2  3
1  a  b  c

In [15]:
# Creamos un array de tamaño 4x3, formado únicamente por unos (1)
unos = np.ones((4, 3))
unos

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [16]:
# Creamos un array de tamaño 2x4x3, formado únicamente por ceros (0)
ceros = np.zeros((2,4,3))
ceros

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [18]:
# Creamos un array de números en el rango de 0 a 100, con un paso de 5
array_1 = np.arange(0,100,5)
array_1

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [24]:
# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (2, 5)
array_2 = np.random.randint(0,10,(2,5))
array_2

array([[7, 5, 5, 1, 1],
       [9, 2, 0, 5, 0]])

In [25]:
# Creamos un array de números aleatorios decimales comprendidos en entre 0 y 1, de tamaño (3, 5)
array_3 = np.random.random((3,5))
array_3

array([[0.32836154, 0.38850678, 0.47026606, 0.85935736, 0.45832415],
       [0.16104974, 0.14686947, 0.68813463, 0.46780644, 0.00899139],
       [0.32924202, 0.508655  , 0.27009691, 0.77977232, 0.9271947 ]])

In [26]:
# Establecemos la "semilla" de números aleatorios en 27
np.random.seed(27)

# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (3, 5).
# Debido a que hemos fijado la semilla, los números son fijos cada vez que se ejecuta
array_4 = np.random.randint(0, 10, (3,5))
array_4

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2],
       [1, 1, 4, 6, 3]])

¿Qué ocurre al correr la última celda nuevamente, a diferencia de las anteriores?

In [27]:
# Encontramos los valores únicos del array_4
valores_unicos = np.unique(array_4)
valores_unicos

array([0, 1, 2, 3, 4, 5, 6, 8, 9])

In [ ]:
# Extramos el elemento de índice 1 del array_4
array_4[1]

In [28]:
# Extraemos las primeras dos filas del array_4
array_4[0:2]

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2]])

In [31]:
# Extraemos los dos primeros datos de las primeras dos filas del array_4
array_4[:2, :2]

array([[3, 8],
       [5, 8]])

In [32]:
# Creamos dos arrays de tamaño 3x4: uno relleno de números aleatorios entre 0 y 10, y otro relleno de unos
array_5 = np.random.randint(0, 10, (3,4))
array_6 = np.ones((3,4))

In [33]:
# invocamos el array_5
array_5

array([[3, 0, 5, 3],
       [3, 6, 7, 2],
       [7, 8, 5, 7]])

In [34]:
# invocamos el array_6
array_6

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [37]:
# Sumamos los dos arrays
array_5 + array_6

array([[4., 1., 6., 4.],
       [4., 7., 8., 3.],
       [8., 9., 6., 8.]])

In [39]:
# Creamos ahora un array de tamaño (4,3) lleno de unos
array_7 = np.ones((4, 3))

In [40]:
# Intentaremos sumar los arrays 6 y 7
array_7 + array_6

ValueError: operands could not be broadcast together with shapes (4,3) (3,4)

¿A qué se debe el error anterior? ¿Qué deberíamos tener en cuenta para que no suceda?

In [42]:
# Entonces crearemos otro array de tamaño (4,3) lleno de unos
array_8 = np.ones((4,3))

In [43]:
# Restamos el array_8 al array_7
array_7 - array_8

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [45]:
# Creamos otros dos arrays de tamaño 3x3 con números aleatorios del 1 al 5
array_9 = np.random.randint(1,5,(3,3))
array_10 = np.random.randint(1,5,(3,3))

In [46]:
# invocamos el array_9
array_9

array([[2, 3, 4],
       [1, 4, 4],
       [2, 3, 4]])

In [47]:
# invocamos el array_10
array_10

array([[2, 1, 4],
       [4, 1, 2],
       [2, 4, 1]])

In [48]:
# Multiplicamos los últimos dos arrays entre sí
array_9 * array_10

array([[ 4,  3, 16],
       [ 4,  4,  8],
       [ 4, 12,  4]])

In [51]:
# Elevamos el array_9 al cuadrado
np.power(array_9, 2)
#array_9**2

array([[ 4,  9, 16],
       [ 1, 16, 16],
       [ 4,  9, 16]], dtype=int32)

In [52]:
# Buscamos la raíz cuadrada del array_10
np.sqrt(array_10)
#array_10**-2

array([[1.41421356, 1.        , 2.        ],
       [2.        , 1.        , 1.41421356],
       [1.41421356, 2.        , 1.        ]])

In [57]:
# Hallamos el promedio de los valores del array_9
np.average(array_9)

3.0

In [59]:
# Hallamos el valor máximo de los valores del array_9
np.max(array_9)
#array_9.max()

4

In [58]:
# Hallamos el valor mínimo de los valores del array_9
np.min(array_9)
#array_9.min()

1

In [60]:
# Cambiamos la forma del array_9 por una de 9x1, y lo almacenamos como array_11
array_11 = array_9.reshape((9,1))

In [61]:
# invocamos el array_11
array_11

array([[2],
       [3],
       [4],
       [1],
       [4],
       [4],
       [2],
       [3],
       [4]])

In [62]:
# Transponemos el array_11
array_11.transpose()
# array_11.T

array([[2, 3, 4, 1, 4, 4, 2, 3, 4]])

In [63]:
# Comparamos el array_9 y el array_10, para saber cuáles elementos del array_9 son mayores a los del array_10
array_12 = array_9 > array_10
array_12

array([[False,  True, False],
       [False,  True,  True],
       [False, False,  True]])

¿Qué tipos de datos forman parte del array de resultados?

In [65]:
# Veamos sus nuevos tipos de datos
array_12.dtype

dtype('bool')

In [66]:
# Alguno de los elementos del array_9 es igual su equivalente del array_10?
array_9 == array_10

array([[ True, False,  True],
       [False, False, False],
       [ True, False, False]])

In [67]:
# Comparamos nuevamente ambos arrays, en esta ocasión con >=
array_9 >= array_10

array([[ True,  True,  True],
       [False,  True,  True],
       [ True, False,  True]])

In [68]:
# Buscamos los elementos del array_9 que son mayores a 2
array_9 > 2

array([[False,  True,  True],
       [False,  True,  True],
       [False,  True,  True]])

In [72]:
# Ordenamos de menor a mayor los elementos dentro del array_9
np.sort(array_9)

array([[2, 3, 4],
       [1, 4, 4],
       [2, 3, 4]])